/* ==========================================================================
   Capital Framework
   Form Element Styling
   ========================================================================== */


/* topdoc
    name: Input states
    family: cf-forms
    patterns:
    - name: Error state
      codenotes:
        - .error
      notes:
        - "See the 'Form icons' section below for guidance on adding icons to
           states."
      markup: |
        <input class="error" type="text" value="Invalid input">
    - name: Success state
      codenotes:
        - .success
      notes:
        - "See the 'Form icons' section below for guidance on adding icons to
           states."
      markup: |
        <input class="success" type="text" value="Validated input">
    tags:
    - cf-forms
*/

input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
select[multiple],
textarea {
    &.error {
        border: 1px solid @redorange;
        outline: 1px solid @redorange;
    }
    &.success {
        border: 1px solid @green;
        outline: 1px solid @green;
    }
}


/* topdoc
    name: Form icons
    family: cf-forms
    patterns:
    - name: Form input icons
      notes:
        - "Form input icons add small positioning tweaks to Capital Framework
          icons."
      markup: |
        <input type="text" value="">
        <span class="cf-form_input-icon cf-icon cf-icon-email"></span>
    - name: Form input error icon
      notes:
        - "The icon must be placed directly after the form input in the markup
          and the input must use the 'error' class."
        - "For invalid fields only use the alert role to call attention to
           fields that need immediate attention:
           https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role"
      markup: |
        <input class="error" type="text" value="Invalid input">
        <span class="cf-form_input-icon cf-icon cf-icon-delete-round" role="alert"></span>
    - name: Form input success icon
      notes:
        - "The icon must be placed directly after the form input in the markup
          and the input must use the 'error' class."
        - "For valid inputs only use the alert role to indicate that a
           previously invalid input is now valid:
           https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role"
      markup: |
        <input class="success" type="text" value="Validated input">
        <span class="cf-form_input-icon cf-icon cf-icon-approved-round"></span>
    tags:
    - cf-forms
*/

@cf-forms_input-icon-class: cf-form_input-icon;

.@{cf-forms_input-icon-class} {
    @font-size: 20px;

    position: relative;
    top: unit( 3px / @font-size, em);
    margin-left: unit( 4px / @font-size, em);
    font-size: unit( @font-size / @base-font-size-px, em );
}

.error + .@{cf-forms_input-icon-class} {
    color: @redorange;
}

.success + .@{cf-forms_input-icon-class} {
    color: @green;
}


/* topdoc
  name: EOF
  eof: true
*/
